<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" rel="stylesheet" href="/static/css/libs.min.css?v={{ staticFileVersion }}">
    {% block css %}{% end %}
</head>
<body>
<div id="app">
    <header>
        <p>Tornado Sample</p>
    </header>
    <main class="container">
        <article class="panel panel-primary">
            <header class="panel-heading">
                <h1 class="panel-title">{{ title }}</h1>
            </header>
            <div class="panel-body">
                {% block main %}{% end %}
            </div>
        </article>
    </main>
</div>
<script type="text/javascript" src="/static/js/jquery.min.js?v=3.1.1"></script>
<script type="text/javascript" src="/static/js/libs.min.js?v={{ staticFileVersion }}"></script>
{% block js %}{% end %}
</body>
</html>